.list-of-names {

}

.searchbar-input {
    box-shadow: none;
    background-color: #f7f7f7;
}

ion-searchbar {
    background: #ffffff;
}

.ion-searchbar {
    padding: 4px;
}
    

ion-badge {
    margin: 1px;
}