.name-view {

}

.gauge-image {
 	max-height: 50%;
 	max-width: 50%;
	margin-right: auto;
    margin-left: auto;
    display: block;
    margin-bottom: 10%;
	margin-top: 5%;
    }
    
.tent-scouts{
    margin-right: auto;
    margin-left: auto;
    max-width: 95%;
    margin-bottom: 3%;
}

.tent {
    max-width: 20%;
    display: inline-block;
}

.scouts {
    max-width: 15%;
    display: inline-block;
    vertical-align: bottom;
}

