<ion-tabs selectedIndex="1">
  <ion-tab [root]="tab1Root" [rootParams]='myDislikesPageParams' tabTitle="Nelíbí se" tabIcon="thumbs-down"></ion-tab>
  <ion-tab [root]="tab1Root" [rootParams]="mainListParams" tabTitle="Seznam" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab1Root" [rootParams]="myFavouritesPageParams" tabTitle="Můj výběr" tabIcon="heart"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Nastavení" tabIcon="settings"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Sdílet" tabIcon="mail"></ion-tab>
</ion-tabs>

